body,
.navbar-nav .nav-link,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.navbar {
  backdrop-filter: blur(10px); /* Efek blur */
  background: rgba(
    255,
    255,
    255,
    0.6
  ); /* Warna background dengan transparansi */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

.berita {
  background-color: #f3f3f3 !important;
}

.budaya {
  background-color: #ffffff !important;
}

.testimoni {
  background-color: #f3f3f3 !important;
}

.footer {
  background-color: #f3f3f3 !important;
}

/* .carousel-caption {
    position: absolute;
    top: 25%;
  } */

/* .carousel-indicators {
    position: absolute;
    bottom: 10%;
    left: 0px;
    right: auto;
  } */

/* .glass-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  max-width: 100%;
  text-align: center;
} */

/* Menambahkan warna latar belakang bg-success ke tombol accordion yang aktif */
.accordion-button:not(.collapsed) {
  background-color: #198754; /* Warna bg-success */
  color: white; /* Mengubah warna teks menjadi putih untuk kontras */
}

/* .card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 20px;
}
.bi-quote {
  font-size: 1.5rem;
  color: #555;
}
.carousel-item {
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
} */


/* .berita .cards-wrapper {
  display: flex;
  justify-content: center;
}
.berita .card img {
  max-width: 100%;
  max-height: 100%;
}
.berita .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.berita .carousel-inner {
  padding: 1em;
}
.berita .carousel-control-prev,
.berita .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .berita .card img {
    height: 11em;
  }
} */